.bg {
  .bg-video {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .4;
    width: 100vw;
    height: 100vh;
  }

  .title {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .buttons {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;

    .no-text {
      &::before {
        transform: scale(2.5)translateY(+30%);
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}
