<div class="bg">
  <div class="title">
    <h1 class="font-weight-bold text-uppercase">I'm working remotely today!</h1>
    <div class="buttons">
      <div class="in-office no-text"></div>
      <div class="working-remotely no-text"></div>
      <div class="on-leave no-text"></div>
    </div>
  </div>

  <div class="bg-video">
    <video autoplay loop muted>
      <source src="../../../assets/Road-candies.webm" type="video/webm">
      <source src="../../../assets/Road-candies.mp4" type="video/mp4">
    </video>
  </div>
</div>
