<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Working remotely</a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/remotely">Remote List</a>
      <a class="nav-item nav-link" routerLink="/account" *ngIf="(authState | async).isAuthenticated">Account</a>
    </div>

    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/signin" *ngIf="!(authState | async).isAuthenticated">Sign In</a>
      <a class="nav-item nav-link" routerLink="/signup" *ngIf="!(authState | async).isAuthenticated">Sign Up</a>
      <a class="nav-item nav-link" routerLink="/home" (click)="logOut()" *ngIf="(authState | async).isAuthenticated">Log Out</a>
    </div>
  </div>
</nav>
