<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Working remotely</a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link active"
         routerLink="/{{appRoutes.HOME}}">
        Home <span class="sr-only">(current)</span>
      </a>

      <a class="nav-item nav-link"
         routerLink="/{{appRoutes.REMOTELY}}">
        Remote List
      </a>

      <a class="nav-item nav-link"
         routerLink="/{{appRoutes.ACCOUNT}}"
         *ngIf="this.isAuthenticated">
        Account
      </a>
    </div>

    <div class="navbar-nav">
      <input class="form-control"
             placeholder="Search..."
             (keyup)="onFilterChange()"
             [(ngModel)]="filter"
             *ngIf="this.router.url === '/remotely'">

      <a class="nav-item nav-link"
         routerLink="/{{appRoutes.SIGININ}}"
         *ngIf="!this.isAuthenticated">
        Sign In
      </a>

      <a class="nav-item nav-link"
         routerLink="/{{appRoutes.SIGNUP}}"
         *ngIf="!this.isAuthenticated">
        Sign Up
      </a>

      <a class="nav-item nav-link"
         routerLink="/{{appRoutes.HOME}}"
         (click)="logOut()"
         *ngIf="this.isAuthenticated">
        Log Out
      </a>
    </div>
  </div>
</nav>
