@mixin input-right-side-color($color) {
  border-right: 5px solid $color;
  box-sizing: border-box !important;
}

.form-control {
  width: 400px !important;
}

.ng-valid[required], .ng-valid.required  {
  @include input-right-side-color($green)
}

.ng-invalid:not(form):not(.ng-pristine) {
  @include input-right-side-color($red)
;
}
